@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
    --cor-primaria: rgb(0, 0, 0);
    --cor-secundaria: rgb(110, 172, 218);
    --cor-tercearia: rgb(13, 113, 221);
    --background1: rgb(226, 226, 182);
    --font-primaria: 'Montserrat', sans-serif;
    --font-secundaria: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
  display: none;
}


/* barra de navegação */



.nav {
  position: fixed;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.nav img {
  margin-right: 3vw;
  width: 2rem;
}

.nav a {
  font-family: var(--font-primaria);
  font-size: 14px;
  font-weight: 600;
  color: var(--cor-primaria);
  text-decoration: none;
  transition: all 0.3s ease;
  color: white;
}

.nav a:hover {
  transform: scale(1.2);
}

.nav-bar {
  pointer-events: auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  z-index: 99;
  gap: 40px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.92), rgba(37, 37, 37, 0.78));
  border-radius: 99px;
  padding: 10px 18px;
  border: 1px solid rgba(255, 255, 255, 0.23);
  backdrop-filter: blur(30px);
  box-shadow: 0 10px 30px rgba(10,20,30,0.12);
  -webkit-backdrop-filter: blur(30px);
}

.botao-nav {
  width: 6vw;
  border: solid 1px white;
  background: transparent;
  border-radius: 99px;
  padding: 8px;
  margin-left: 3vw;
  cursor: pointer;
  transition: all 0.3s;
}


.botao-nav:hover {
  border-style: none;
  transform: scale(0.9);
  background-image: linear-gradient(90deg, rgb(13, 138, 221) .2%, rgb(62, 174, 226)100%);
}

.botao-nav a {
  text-decoration: none;
  color: white;
  font-family: var(--font-primaria);
  font-weight: 600;
  font-size: 14px;
}

/* Conteudo principal */

#home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: white;
  color: var(--cor-primaria);
}

.home-content {
    display: flex;
    gap: 15vw;
    margin: 30px auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#home img {
    max-width: 300px;
    height: 300px;
    display: block;
    object-fit: cover;
    border-radius: 10%;
    transition: all 0.5s;
}

#home img:hover {
    transform: scale(1.1);
}

.home-text {
    font-family: var(--font-primaria);
}

.home-text h1 {
    margin-bottom: 40px;
}

/* Bota CTA */

.botao {
  width: 10vw;
  border-radius: 10px;
  border-style: none;
  padding: 10px;
  margin: 0px 10px 0px 0px;
  cursor: pointer;
  transition: all 0.3s;
  background-image: linear-gradient(90deg, rgb(13, 114, 221) .2%, rgb(110, 171, 218) 100%);;
}


.botao:hover {
  transform: scale(0.9);
  background-image: linear-gradient(90deg, rgb(13, 138, 221) .2%, rgb(62, 174, 226)100%);
}

.botao a {
  text-decoration: none;
  color: white;
  font-family: var(--font-primaria);
  font-weight: 600;
}

.home-text span {
  color: var(--cor-tercearia);
}

/* Botao Redes Sociais */ 

ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  row-gap: 0.5rem;
  gap: 1rem;
}
.example-2 .icon-content {
  margin: 40px 0px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: 20px;
  left: 40%;
  transform: translateX(50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: 5px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  transform: scale(1.1);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

/* Sessão Sobre */

#about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: row;
}


.title-about {
  font-family: var(--font-primaria);
  position: absolute;
  left: 43%;
  margin-bottom: 70vh;
  z-index: 0;
  transition: all 0.3s ease ;
}

.title-about:hover {
  transform: scale(1.1);
  color: var(--cor-tercearia);
}

.title-about::before {
  content: "";
  bottom: -4px; 
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--cor-tercearia);
  transition: width 0.3s ease;
}

.title-about:hover::before {
  width: 100%;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}


#about img {
  max-width: 300px;
  height: 300px;
  display: block;
  object-fit: cover;
  border-radius: 10%;
  transition: all 0.3s;
}

#about img:hover {
  transform: scale(1.1);
}

.about-container h1 {
  font-family: var(--font-primaria);
}

.about-container p {
  max-width: 600px;
  margin-top: 1vh;
  font-family: var(--font-secundaria);
}

/* Sessão skills */

#skills {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-skills {
  font-family: var(--font-primaria);
  position: absolute;
  left: 47%;
  margin-bottom: 70vh;
  z-index: 0;
  transition: all 0.3s ease ;
}

.title-skills:hover {
  transform: scale(1.1);
  color: var(--cor-tercearia);
}

.title-skills::before {
  content: "";
  bottom: -4px; 
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--cor-tercearia);
  transition: width 0.3s ease;
}

.title-skills:hover::before {
  width: 100%;
}

.skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}

.habilidades {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-primaria);
  flex-direction: column;
  gap: 20px;
}

.box {
  position: relative;
  text-align: center;
  background-color: #212121;
  width: 7rem;
  aspect-ratio: 1;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
 cursor: pointer;
  transition: 0.2s;
  color: white;
  font-family: var(--font-primaria);
  font-weight: 600;
  gap: 1rem;
  transition: all 0.3s ease;
}

.box::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 0.3rem;
  background-image: linear-gradient(90deg, #8257E6 0%, #A40EE4 92.32%);
  bottom: -0.01rem;
  left: 0;
}

.box img {
  width: 2rem;
}

.box:hover {
  transform: scale(1.1);
}

.skills-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}


.certificaçoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  font-family: var(--font-primaria);
}

.certificaçoes h1 {
  margin-bottom: 30px;
}

/* Card Certificaçoes */

.card {
  width: 100%;
  max-width: 300px;
  height: 50px;
  background: #353535;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.icon {
position: absolute;
right: 0;
margin-right: 20px;
color: white;
}


.textBox {
  width: calc(100% - 50px);
  margin-left: 10px;
}

.textBox a {
  color: white;
  text-decoration: none;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.h1 {
  font-size: 12px;
  font-weight: 600;
}

.p {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 2px;
  font-family: var(--font-secundaria);
}

/* Sessão Projetos */

#projects {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.projetos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  
}

.title-projetos {
  font-family: var(--font-primaria);
  position: absolute;
  left: 46%;
  margin-bottom: 70vh;
  z-index: 0;
  transition: all 0.3s ease ;
}

.title-projetos:hover {
  transform: scale(1.1);
  color: var(--cor-tercearia);
}

.title-projetos::before {
  content: "";
  bottom: -4px; 
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--cor-tercearia);
  transition: width 0.3s ease;
}

.title-projetos:hover::before {
  width: 100%;
}